@use "../../../assets//styles/mixins" as *;

.btn {
  border: 0;
  background: none;
  padding: var(--padding-s) var(--padding-m);
  border-radius: var(--radius-m);
  border: 2px solid transparent;
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 1px 1px 5px rgb(15, 36, 85, 0.5);
  }

  &__container {
    max-width: fit-content;
  }
}
