@use "../../../assets/styles/mixins" as *;

.header__container,
.main__container,
.footer__container {
  @include container;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: var(--shadow-1-1-10);
  background-color: var(--primary);

  &__container,
  &__nav ul {
    @include flex("column", "nowrap");

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__links {
    @include flex;
    @include pos($jc: "space-between");
    width: 100%;
  }

  &__container {
    @include pos($jc: "space-between");
    row-gap: 1rem;
    column-gap: 2rem;
  }

  &__img {
    width: 50px;
    height: 50px;
  }

  &__nav {
    position: absolute;
    z-index: 0;
    top: -300%;
    right: 0;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.85);
    padding: var(--padding-l);
    transition: top 0.5s ease-in-out;
    backdrop-filter: blur(4px);

    @media screen and (min-width: 680px) {
      position: static;
      z-index: 0;
      background-color: transparent;
      width: fit-content;
      padding: 0;
    }

    &--open {
      top: 100%;
    }

    ul {
      gap: 2rem;
      @include pos;

      @media screen and (min-width: 680px) {
        @include pos($jc: "space-between");

        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: var(--secondary);
    transition: color 0.3s ease;

    &:hover {
      color: var(--white);
    }
  }

  .active {
    font-weight: var(--fw-semi-bold);
    color: var(--accent);
  }
}

.main {
  &__container {
    @include flex("column", "nowrap");
  }
}

.footer {
  background-color: var(--black);

  &,
  a {
    color: var(--secondary);
  }

  a {
    transition: color 0.5s ease;

    &:hover {
      color: var(--accent);
    }
  }

  &__container {
    @include flex;
    @include pos;
  }
}
