@use "../../../assets//styles/mixins" as *;

.select {
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--radius-m);
  transition: all 0.3s ease;

  &:focus-within {
    color: var(--primary);
  }

  &__wrapper {
    @include flex("column", "nowrap");
    gap: 0.5rem;

    &:focus-within label {
      color: var(--primary);
      transform: translateX(0.25rem);
      font-style: italic;
    }
  }

  &__label {
    transition: all 0.3s ease;
  }
}
