@use "../../../../shared/assets/styles/mixins" as *;

.game-rules {
  form {
    @include flex("column", "nowrap");
    gap: 1rem;

    .btn {
      @include btn(var(--primary), var(--white), var(--primary100));
    }
  }
}

.pokemon-pull {
  &__list {
    @include flex;
    @include pos;
    gap: 1rem;

    @media screen and (min-width: 755px) {
      justify-content: space-between;
    }
  }
}
