@use "../../../../shared/assets/styles/mixins" as *;

main:has(.pokemon-details) {
  background-color: var(--secondary);
}
.pokemon-details {
  &__card {
    @include flex("column", "nowrap");
    gap: 2rem;
    padding: var(--padding-2xl);
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-1-1-10);
    background-color: var(--tertiary);

    a {
      color: var(--primary);
    }
  }

  &__header {
    @include flex;
    width: 100%;
  }

  &__text {
    @include flex("column", "nowrap");
    @include pos("space-between");
    padding: var(--padding-m) 0;
    width: 50%;
    flex: 1 0;
    gap: 1rem;
  }

  &__title {
    @include flex("column", "nowrap");
    @include pos("space-between");
    gap: 1rem;
    width: 100%;
  }

  &__img {
    @include flex;
    @include pos;
    width: 50%;

    img {
      max-width: 200px;
      object-fit: contain;
    }
  }

  &__types {
    @include flex;
    @include pos;
    gap: 1.5rem;
  }

  &__type {
    @include flex;
    @include pos;
    gap: 0.5rem;

    p {
      line-height: 30px;
    }

    &-img {
      max-width: 30px;
    }
  }

  &__evolutions {
    @include flex;
    gap: 0.5rem;
    text-align: center;
  }

  &__block {
    @include flex("column", "nowrap");
    gap: 2rem;
  }

  &__resistances,
  &__stats {
    @include flex("column", "nowrap");
    gap: 1rem;

    > p {
      font-weight: var(--fw-bold);
    }

    ul,
    li {
      @include flex;
    }

    ul {
      row-gap: 1.5rem;
      column-gap: 2rem;
    }

    li {
      @include pos("space-between");
      width: calc((100% - 2rem * 2) / 3);
      padding: var(--padding-xs) var(--padding-s);
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: var(--radius-s);

      p {
        text-transform: capitalize;
      }
    }

    &-img {
      max-width: 30px;
    }
  }

  &__stats li {
    padding: var(--padding-s) var(--padding-s);
  }
}
