@use "../../../../shared/assets/styles/mixins" as *;

.pokemons {
  flex: 1 0;

  &__generations,
  &__generation {
    @include flex("column", "nowrap");
  }

  &__generations {
    gap: 2rem;
  }

  &__generation {
    gap: 1rem;

    h3 {
      @include flex;
      align-items: baseline;
      gap: 0.75rem;
      text-transform: uppercase;

      span {
        @include pokemonFont;
      }
    }
  }

  &__pokemons {
    @include flex;
    gap: 2rem;

    > a {
      display: flex;
      color: var(--black);

      @media screen and (min-width: 485px) {
        max-width: calc(100% / 3 - 2rem);
      }

      @media screen and (min-width: 640px) {
        max-width: calc(100% / 4 - 2rem);
      }

      @media screen and (min-width: 795px) {
        max-width: calc(100% / 5 - 2rem);
      }

      &,
      > article {
        flex: 1 0;
      }
    }
  }
}
