@use "../../../../shared/assets/styles/mixins" as *;

.search-pokemon {
  &__inputs {
    display: flex;
    border: 1px solid var(--black);
    border-radius: var(--radius-l);
  }

  .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    border: 2px solid transparent;
  }

  .btn {
    @include btn(
      $padding: var(--padding-xs) var(--padding-s),
      $borderColor: transparent
    );
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      background-color: var(--black);
      color: var(--white);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__container {
      border-left: 1px solid var(--black);
    }
  }
}
