@use "../../../../shared/assets/styles/mixins" as *;

.gameplay {
  display: flex;
  flex: 1 0;

  .btn {
    @include btn(var(--black), var(--white), "transparent");
  }

  &__opponents {
    @include container("500px", var(--padding-m) 0);
    @include flex("column", "nowrap");
    @include pos("space-between");
    gap: 1.5rem;

    @media screen and (min-width: 400px) {
      flex-direction: row;
    }

    > section {
      display: flex;
      gap: 1rem;
    }

    span {
      display: block;
      font-weight: var(--fw-bold);
      text-align: center;
      margin-bottom: 0.5rem;
    }

    > span {
      opacity: 0;
      margin: 0;
      animation: fade-in 0.8s 0.5s ease forwards;
    }

    &--slide-left {
      // align-items: end;
      opacity: 0;
      animation: slide--left 0.8s 1s ease forwards;
    }

    &--slide-right {
      align-items: start;
      animation: slide--right 0.8s ease;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide--right {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide--left {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
