@use "../../../../shared/assets/styles/mixins" as *;

.pokemons {
  &__types,
  &__type {
    @include flex("column", "nowrap");
  }

  &__types {
    gap: 3rem;
  }

  &__type {
    gap: 1rem;

    h3 {
      @include flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-img {
      max-width: 20px;

      img {
        object-fit: contain;
      }
    }
  }
}
